.form{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 5px;
}

.form>div>a{
    width: 20px;
    height: 20px;
    /* display: flex; */
    gap: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

.form>div{
    display: flex;
    gap: none;
    margin-left: auto;
    margin-right: auto;
  
}
.form>p{
    font-size: 80%;
    color: rgb(97,97,97);
}
.button+p{
    display: flex;
    justify-content: center;
}
.button+p+p{
    display: flex;
    justify-content: center;
}
.form>h4{
    color:  rgb(97,97,97);
    font-size: 90%;
}
input[type="email"],input[type="text"],input[type="Lasttext"],input[type="password"],textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 14px;
}
/* input[type="submit"]{
    display: block;
    margin: auto;
    padding: 10px 10px;
    border: 1px solid rgb(200,50,89);
    border-radius: 5px;
    background-color:rgb(200,50,89);
    font-weight: bold;
    color: white;
    width: 400px;
} */



.button {
    display: block;
    margin: auto;
    padding: 10px 10px;
    border: 1px solid rgb(200,50,89);
    border-radius: 5px;
    background-color:rgb(200,50,89);
    font-weight: bold;
    color: white;
    width: 350px;


}


button:hover{
    background-color: rgb(200,50,89);
    color: white;  
}


input.check{
    background-color: red;
    height: 20px;
    width: 20px;
}
h2{
    margin-top: 3px;
}

a{
    text-decoration: none;
    color: blue;
}